* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Tajawal', sans-serif;    
    background: #5a637b;
}

#messages {
    background: rgb(241, 240, 240);
    list-style-type: none; 
    margin: 15px auto 0 auto; 
    padding: 0; 
    width: 50%; 
    height: 55vh; 
    border-top: 35px solid #14a4ac;
    overflow: auto;
}
#messages li {
    padding: 15px 10px;
}
#messages li:nth-child(odd) {
    background: #e3e5ee;
}
.list-item-img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}


form {
    display: block; 
    margin: 15px auto 0 auto; 
    width: 50%; 
    background: rgb(241, 240, 240);
    padding: 3px;
    margin-top: -6px; 
}
form input {
    font-family: 'Tajawal', sans-serif; 
    background: #d1d1dd;
    color:black;
    font-size: 20px;
    border: 0;
    padding: 8px; 
    width: 90%;
    margin-right: .5%;
}
form button { 
    font-weight: 900;
    width: 9%;
    /* background: #14a4ac; */
    background: #716fc2;
    border: none;
    padding: 11px;
}

#controls{
    position: absolute;
    top: 30px;
    left: 20px;
    border-top: 15px solid #14a4ac;
    display: inline-block;
    margin-top: 20px;
    background: #394058;
    color: white;
    height: 280px;
    padding: 10px;
    width: 350px;
}
#username{
    width: 100%;
    font-size: 25px;
    height: 35px;
}
#photouploader {
    background: #716fc2;
    width: 100%;
}
#controls > img{
    margin-left: 30%;
    border: 2px dashed #14a4ac;
}